{%- assign placeholder = "images/placeholder.svg" | relative_url -%}

{%- if include.link -%}
{%- assign tag = "a" -%}
{%- else -%}
{%- assign tag = "span" -%}
{%- endif -%}

{%- assign rich = false -%}
{%- if include.style == "rich" -%}
{%- assign rich = true -%}
{%- endif -%}

<div class="brief" data-style="{{ include.style }}">
    {%- assign link = include.link | default: "" -%}
    {%- assign image = include.image | default: "" -%}

    {%- if rich -%}
    <div class="brief_image">
        <{{ tag }} href="{{ link | relative_url }}">
        <img
                src="{{ include.image | relative_url }}"
                onerror="this.src = '{{ placeholder }}'; this.onerror = null;"
                loading="lazy"
                alt=""
        >
    </{{ tag }}>
    </div>
    {%- endif -%}

    <div class="brief_text">
        {%- assign title = include.title | default: "" -%}
        <div class="brief_title">
            <a href="{{ link }}" style="font-weight: bold; color: black; text-decoration: none">
                {{ title }}
            </a>
        </div>

        {%- assign description = include.description | default: "none" -%}
        <div class="brief_text">
            {{ description }}
        </div>
    </div>
</div>
